* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  background: #232c46;
  color: white;
}

h1,
h2 {
  text-align: center;
}

button {
  display: block;
  margin: 30px auto;
  width: 150px;
  text-transform: uppercase;
  cursor: pointer;

  color: white;
  border-radius: 2px;
  border: none;
  color: #232c46;
  padding: 10px;
}

.grid-container {
  width: 360px;
  height: 360px;
  margin: auto;
  padding: 20px;
  background: #3f4e6b;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.cell {
  border-radius: 7px;
  background: #313d62;
  color: white;
  height: 100px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  cursor: pointer;
}

.x-cell {
  background: #929fb6;
  box-shadow: inset 0 0 15px 2px rgb(35 44 70 / 30%);
}

.o-cell {
  background: #b9ccf0;
  box-shadow: inset 0 0 15px 2px rgb(35 44 70 / 30%);
}
.winner {
  background: rgb(67, 131, 67);
  box-shadow: inset 0 0 15px 2px rgb(35 44 70 / 30%);
}
